body {
    background-color: lightgrey;
}

.filter-box {
    border: 1px solid gray;
    margin: 10px 0px;
}

.analyze-button {
    width: 100%;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}