<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/image-picker/image-picker.min.js"></script>
    <script type="text/javascript" src="/static/jquery-multiselect/jquery.multiselect.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/image-picker/image-picker.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-multiselect/jquery.multiselect.css">
    <link rel="stylesheet" type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        body {
            background-color: lightgrey;
        }

        .filter-box {
            border: 1px solid gray;
            margin: 10px 0px;
        }

        .analyze-button {
            width: 100%;
        }

        table, th, td {
            border: 1px solid gray;
            border-collapse: collapse;
        }
    </style>

    <title>Politkarma Vote Helper 3000</title>
</head>
<body>

<h1>Politkarma</h1>
<div class="filter-box">
    <h3>Datum</h3>
    von
    <input type="date" name="startdate" id="startdate"/>
    bis
    <input type="date" name="enddate" id="enddate"/>
</div>
<div class="filter-box">
    <h3>Kanton</h3>
    <select multiple="multiple" name="canton" id="canton">
        {% for canton in cantons %}
            <option value="{{ canton.id }}">{{ canton.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="filter-box">
    <h3>Organisationen</h3>
    <select multiple="multiple" id="organization" name="organization" class="image-picker show-html">
        <option data-img-src="http://placekitten.com/280/170" value="1">Cute Kitten 1</option>
        <option data-img-src="http://placekitten.com/180/200" value="2">Cute Kitten 2</option>
        <option data-img-src="http://placekitten.com/130/200" value="3">Cute Kitten 3</option>
        <option data-img-src="http://placekitten.com/270/200" value="4">Cute Kitten 4</option>
    </select>
</div>
<button class="analyze-button" type="button">Analyze Karma!</button>

<h3>Resultate</h3>
<table style="width:100%;">
    <tr>
        <th>Rang</th>
        <th>Name</th>
        <th>Partei</th>
        <th>Score</th>
        <th>History</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Hans Müller</td>
        <td>ABC</td>
        <td>12345</td>
        <td>
            <div id="chart1"/>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Peter Meier</td>
        <td>DEF</td>
        <td>1000</td>
        <td>
            <div id="chart2"/>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $("#startdate").datepicker();
    $("#enddate").datepicker();
    $("#canton").multiselect({
        header: "Kanton(e) auswählen"
    });
    $("#organization").imagepicker({
        hide_select: true,
        show_label: true
    });

    // based on https://jsfiddle.net/api/post/library/pure/
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Tag');
        data.addColumn('number', 'Gesammeltes Karma');

        data.addRows([
            [0, 0], [1, 10], [2, 23], [3, 17], [4, 18], [5, 9],
            [6, 11], [7, 27], [8, 33], [9, 40], [10, 32], [11, 35],
            [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
            [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57]
        ]);

        var options = {
            hAxis: {
                title: 'Zeit'
            },
            vAxis: {
                title: 'Karma'
            }
        };
        var chart1 = new google.visualization.LineChart(document.getElementById('chart1'));
        chart1.draw(data, options);
        var chart2 = new google.visualization.LineChart(document.getElementById('chart2'));
        chart2.draw(data, options);
    }
</script>

</body>
</html>