{% load vote_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/image-picker/image-picker.min.js"></script>
    <script type="text/javascript" src="/static/jquery-multiselect/jquery.multiselect.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/image-picker/image-picker.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-multiselect/jquery.multiselect.css">
    <link rel="stylesheet" type="text/css" href="/static/css/politkarma.css">
    <link rel="stylesheet" type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <title>Politkarma Vote Helper 3000</title>
</head>
<body>

<h1>Politkarma</h1>
<form method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="analyze-button" type="submit">Analyze Karma!</button>
</form>

{% if result %}
    <h3>Resultate</h3>
    {% show_results result %}
{% endif %}

<script type="text/javascript">
    $("#cantons").multiselect({
        header: "Kanton(e) auswählen"
    });
    $("#organizations").multiselect({
        header: "Organisation(en) auswählen"
    });
    /*
     $("#organizations").imagepicker({
        hide_select: true,
        show_label: true
    });
     */
</script>

</body>
</html>